{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Springer Book Downloader</h1>
              <span class="subheading">Download free books during quarantine</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


          <div class="clearfix">
     {% for category in categories%}    
          <a class="btn btn-primary float-left" href="/{{category}}" mx="2"> {{category}}</a>
             
        
          {% endfor %}


          <!-- Pager -->
          
          
          
          </div>
        </div>
      </div>
    </div>
    {% endblock %}